.p{
  /* Rectangle 12469 */

position: absolute;
left: 100%;
right: -12.22%;
top: 0%;
bottom: -66.67%;

/* Primary Blue 300 */
background: #1B6792;
/* Small Shadow */
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
border-radius: 8px;
transform: rotate(90deg);

}