.sub_header {
  /* Caption */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;

  color: #616363;

  flex: none;
  order: 7;
  flex-grow: 0;
  z-index: 7;
}

.back_icon {
  /* Light Gray */
  background: #f7f6f6;
  border-radius: 4px;
}
